.pasek-position
{
    float: left;
    color: #ffffff;
    text-align: right;
    background-color: #676464;

}
.data-position
{
    float: left;
    color: #ffffff;
    text-align: right;
    background-color: #676464;
}
.post-color
{
    background-color: rgba(123, 46, 202,0.4);
}
.post-font
{
    color: white;
}
.icon-school
{
    color: rgb(59, 91, 152);
    font-size: 80px;
}
.update-color{
    background-color: #1aa057;
}
.position{
    float: left;
    width: 10%;
}
.post-text
{
    text-align: center;
}
.btn-margin
{
    margin:10px;
}
.btn-back
{
    background-color: #9148cf;
    animation-name: example;
    animation-duration: 6s;
}
.btn-back:hover
{
    background-color: #811580;
}
@keyframes example {
    0%   {background-color: #323a53;}
    25%  {background-color: #33447a;}
    50%  {background-color: #2246b8;}
    100% {background-color: #d2e00d;}
}